*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

body{
    font-family: 'Kanit', sans-serif;
    color: #d2d2d2;
}

header{
    width: 50px;
    height: calc(100vh - 65px);
    background-color: #000000;
    padding: .5rem 1rem;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

div.logo{
    margin: 0 auto;
}

div.logo :first-child{
    width: 20px;
}

div.logo :last-child{
    display: none;
}

ul.tasks{
    list-style: none;
}

li:hover{
    color: #ffffff;
}

li>i{
    margin-right: .5rem;
    color: #d2d2d2;
}

li>span{
    font-size: .8rem;
    display: none;
}

ul.playlist{
    display: none;
}

ul.bottom-text{
    list-style: none;
    font-size: .8rem;
    color: #d2d2d2;
}

.bottom-text li:first-child{
    margin-left: .4rem;
    margin-bottom: .5rem;
}

div.divider{
    display: none;
    width: 100%;
    height: 1px;
    background-color: #d2d2d2;
    margin: .5rem 0 .8rem;
}

.user>span{
    font-size: 1rem;
    font-weight: bold;
}

.user>i{
    font-size: 1.5rem;
    margin-right: .5rem;
}

main{
    width: calc(100% - 50px);
    height: calc(100vh - 65px);
}

div.top-main{
    height: 65px;
    background-color: #080b12;
    text-align: end;
    padding: 1rem .5rem 0;
}

div.top-main>input{
    color: #ffffff;
    background-color: #080b12;
    padding: .5rem 2rem;
    border: 1.5px solid #ffffff ;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

div.top-main>input:hover{
    font-size: 1rem;
}

div.main-content{
    width: 100%;
    height: calc(100% - 65px);
    padding: 1rem;
    background-color: #141922;
    overflow-y: scroll;
}

ul.main-nav{
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;

}

ul.main-nav>li{
    text-decoration: none;
    text-transform: uppercase;
    color: #73757a;
    margin: 0rem 1rem 1.5rem;
}

div.green-bar{
    background-color: #adff2f;
    margin: auto;
    width: 50%;
    height: 2px;
}

.main-nav>li:hover{
    color: #ffffff;
}

ul.nav2{
    list-style: none;
    justify-content: center;
    margin: 3rem 0;
}

ul.nav2>li a{
    font-size: .95rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #73757a;
    margin: .90rem;
}

div.main-content>h2{
    margin: .5rem;
    color: #ffffff;
}

section.albums{
    flex-wrap: wrap;
}

div.album{
    width: calc(100% / 2 - 1rem);
    margin: .5rem;
    text-align: center;
}

figure:hover{
    opacity: .5;
}


div.album>h3{
    font-size: 1rem;
}

div.album>p{
    font-size: .8rem;
}

figure{
    position: relative;
}

figure>i{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

}

figure>i:hover{
    opacity: 1;
}

figure>img{
    width: 100%;
}

h2, h3{
    color: #ffffff;
}

.recommended>ul{
    list-style: none;
}

section.recommended>h2{
    margin: .5rem;
    color: #ffffff;
}

section.recommended>p{
    margin: .5rem;
}

li.mix{
    width: calc(100% / 2 - 1rem);
    margin: .5rem;
    text-align: center;
}

.mix>h3{
    font-size: 1rem;
}

.popular>ul{
    list-style: none;
}

section.popular>h2{
    margin: .5rem;
    color: #ffffff;
}

section.popular>p{
    margin: .5rem;
}

li.artist{
    width: calc(100% / 2 - 1rem);
    margin: .5rem;
    text-align: center;
}

.artist figure>img{
    width: 100%;
    border-radius: 50%;
}

.artist>h3{
    font-size: 1rem;
}

li:hover{
    color: #ffffff;
}

footer{
    height: 65px;
    background-color: #282828;
}

div.player{
    justify-content: space-between;
}

div.left-player{
    justify-content: baseline;
    padding: .5rem;
    font-size: .9rem;
}

figure.song-playing{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: .5rem;
}

.song-playing>img{
    width: 100%;
}

div.info-song{
    margin-top: .4rem;
}

div.left-icons{
    font-size: 1rem;
    margin: 1rem;
}

.left-icons>i{
    margin-right: .1rem;
}

.center-player>i{
    margin: 1rem .5rem; 
}

div.player-bar{
    width: 100%;
    height: .5rem;
    background-color: #5a5a5a;
    border-radius: 20px;
}

div.player-bar>div{
    width: 35%;
    height: 100%;
    background-color: #c1c1c1;
    border-radius: 20px;
}




/* MOBILE*/
@media screen and (min-width: 576px) {

    body{
        width: 100%;
    }

    header{
        width: 180px;
    }

    div.logo :first-child{
        display: none;
    }
    
    div.logo :last-child{
        display: block;
        width: 60%;
        padding-bottom: 1rem;
    }

    li>span{
        display: inline;
    }

    ul.playlist{
        font-size: .8rem;
        display: block;
        list-style: none;
        margin-top: 1rem;
    }

    .playlist>li{
        line-height: 1.8rem;
    }

    div.divider{
        display: block;
    
    }
    
    main{
        width: calc(100% - 180px);
    }

}

/* TABLET */

@media screen and (min-width: 768px) {

    body{
        width: 100%;
    }
    
    div.album{
        width: calc(100% / 4 - 1rem);
    }

    li.mix{
        width: calc(100% / 4 - 1rem);
    }

    li.artist{
        width: calc(100% / 4 - 1rem);
    }
    
}

/* DESKTOP */

@media screen and (min-width: 992px) {

    body{
        width: 100%;
    }
    
    div.album{
        width: calc(100% / 6 - 1rem);
    }


    li.mix{
        width: calc(100% / 6 - 1rem);
    }

    li.artist{
        width: calc(100% / 6 - 1rem);
    }
    
}






