*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

body{
    font-family: 'Kanit', sans-serif;
    color: #d2d2d2;
}

li:hover{
    color: #ffffff;
}

header{
    width: 50px;
    height: calc(100vh - 50px);
    background-color: #000000;
    padding: .5rem 1rem;
}

div.logo{
    margin: 0 auto;
}

div.logo :first-child{
    width: 25px;
}

div.logo :last-child{
    display: none;
}

ul.tasks{
    list-style: none;
}

.task>li{
    vertical-align: middle;
}

li:hover{
    color: #ffffff;
}

li>i{
    margin: 1rem .5rem 0 0;
    font-size: 1.5rem;
    color: #d2d2d2;
}

li>span{
    display: none;
}

ul.playlist{
    display: none;
}

main{
    width: calc(100% - 50px);
    height: calc(100vh - 50px);
}

div.top-main{
    height: 65px;
    background-color: #080b12;
    text-align: end;
    padding: 1rem .5rem 0;
}

div.top-main>input{
    color: #ffffff;
    background-color: #080b12;
    padding: .5rem 3rem;
    border: 1.5px solid #ffffff ;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

div.top-main>input:hover{
    font-size: 1rem;
}

div.main-content{
    width: 100%;
    height: calc(100% - 65px);
    padding: 1rem;
    background-color: #141922;
    overflow-y: scroll;
}

ul.main-nav{
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;

}

ul.main-nav>li{
    text-decoration: none;
    text-transform: uppercase;
    color: #73757a;
    margin: 0rem 1rem 1.5rem;
}

.main-nav>li:hover{
    color: #ffffff;
}

ul.nav2{
    list-style: none;
    justify-content: center;
    margin: 3rem 0;
}

ul.nav2>li a{
    font-size: .95rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #73757a;
    margin: .90rem;
}

div.main-content>h2{
    margin: .5rem;
    color: #ffffff;
}

section.albums{
    flex-wrap: wrap;
}

div.album{
    width: calc(100% / 2 - 1rem);
    margin: .5rem;
    text-align: center;
}

figure{
    position: relative;
}

figure>i{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: .5rem;
    border-radius: 50%;
}

figure>i:hover{
    opacity: 2;
    background-color: rgba(0, 0, 0, 0.7);
    transition-duration: 500ms;
}

figure>img{
    width: 100%;
}

h2, h3{
    color: #ffffff;
}

.recommended>ul{
    list-style: none;
}

section.recommended>h2{
    margin: .5rem;
    color: #ffffff;
}

section.recommended>p{
    margin: .5rem;
}

li.mix{
    width: calc(100% / 2 - 1rem);
    margin: .5rem;
    text-align: center;
}

.popular>ul{
    list-style: none;
}

section.popular>h2{
    margin: .5rem;
    color: #ffffff;
}

section.popular>p{
    margin: .5rem;
}

li.artist{
    width: calc(100% / 2 - 1rem);
    margin: .5rem;
    text-align: center;
}

.artist figure>img{
    width: 100%;
    border-radius: 50%;
}

li:hover{
    color: #ffffff;
}

footer{
    height: 65px;
    background-color: #282828;
}


/* MOBILE*/
@media screen and (min-width: 576px) {

    body{
        width: 100%;
    }

    header{
        width: 180px;
    }

    div.logo :first-child{
        display: none;
    }
    
    div.logo :last-child{
        display: block;
        width: 60%;
        padding-bottom: 1rem;
    }

    li>span{
        display: inline;
    }

    ul.playlist{
        font-size: .8rem;
        display: block;
        list-style: none;
        margin-top: 1rem;
    }

    .playlist>li{
        line-height: 2rem;
    }
    
    main{
        width: calc(100% - 180px);
    }

}

/* TABLET */

@media screen and (min-width: 768px) {

    body{
        width: 100%;
    }
    
    div.album{
        width: calc(100% / 4 - 1rem);
    }

    li.mix{
        width: calc(100% / 4 - 1rem);
    }

    li.artist{
        width: calc(100% / 4 - 1rem);
    }
    
}

/* DESKTOP */

@media screen and (min-width: 992px) {

    body{
        width: 100%;
    }
    
    div.album{
        width: calc(100% / 6 - 1rem);
    }


    li.mix{
        width: calc(100% / 6 - 1rem);
    }

    li.artist{
        width: calc(100% / 6 - 1rem);
    }
    
}






