*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

body{
    min-width: 550px;
    font-family: 'Kanit', sans-serif;
}

header{
    width: 50px;
    height: calc(100vh - 50px);
    background-color: #000000;
    text-align: center;
}

div.logo :first-child{
    padding-top: .5rem;
    width: 60%;
}

div.logo :last-child{
    display: none;
}

ul.tasks{
    list-style: none;
}

.tasks>li i{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #d2d2d2;

}






main{
    width: calc(100% - 50px);
    height: calc(100vh - 50px);
}

div.top-main{
    height: 65px;
    background-color: #080b12;
    text-align: end;
    padding: 1rem .5rem 0;
}

div.top-main>input{
    color: #ffffff;
    background-color: #080b12;
    padding: .5rem 3rem;
    border: 1.5px solid #ffffff ;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;

}

div.main-content{
    width: 100%;
    height: calc(100% - 65px);
    padding: 1rem;
    background-color: #141922;
    overflow-y: scroll;
}

ul.main-nav{
    list-style: none;
    justify-content: center;
}

ul.main-nav>li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #73757a;
    padding: 0 1rem;
}

ul.nav2{
    list-style: none;
    justify-content: center;
    margin: 3rem 0;
}

ul.nav2>li a{
    font-size: .95rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #73757a;
    margin: .90rem;
}

div.main-content>h2{
    margin: .5rem;
    color: #ffffff;
}

section.albums{
    flex-wrap: wrap;
}

div.album{
    width: calc(100% / 2 - 1rem);
    margin: .5rem;
    text-align: center;
}

div.album>img{
    width: 100%;
}

div.album>h3{
    color: #ffffff;
}

footer{
    height: 65px;
    background-color: #282828;
}


/* MOBILE*/
@media screen and (min-width: 576px) {

    body{
        width: 100%;
    }

    header{
        width: 180px;
    }

    div.logo :first-child{
        display: none;
    }
    
    div.logo :last-child{
        display: block;
        width: 60%;
        margin: 1rem;
    }
    
    main{
        width: calc(100% - 180px);
    }

}

/* TABLET */

@media screen and (min-width: 768px) {

    body{
        width: 100%;
    }
    
    div.album{
        width: calc(100% / 4 - 1rem);
    }
    
}

/* DESKTOP */

@media screen and (min-width: 992px) {

    body{
        width: 100%;
    }
    
    div.album{
        width: calc(100% / 6 - 1rem);
    }
    
}






